# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.turbo
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# React Native
apps/mobile/ios/Pods
apps/mobile/android/.gradle
apps/mobile/android/app/build
*.keystore
!debug.keystore

# Prisma
apps/backend/prisma/*.db
apps/backend/prisma/*.db-journal
/keys/android_client_secret_103898307141-92nbltquj6fvqi4ju44dhf10sal6vh70.apps.googleusercontent.com.json
/keys/client_secret_103898307141-u7cdn94rs7ljbnmhdmhtacc6hu16ks99.apps.googleusercontent.com.json
/keys/iOS_client_103898307141-tk0c0r9bbvle0b6qd57m2lj2gt9phv2n.apps.googleusercontent.com.plist
